#components-layout-demo-side .logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
  }
  a,Link{
    color: white 
  }
  /* span{
    background-color: rgba(107, 107, 192, 0.158) !important
  } */